.contenido{
    
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0% !important;
  background-color: #141E30;
  background: linear-gradient(to right, #24243e, #141E30, #0f0c29); 
  
}